@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    background-color: #4C3957;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
}

#main { 
	text-align: center; 
} 

h1 { 
	color: #79B473; 
    font-size: 38px;
    border-bottom: double 5px #79B473;
    padding-bottom: 10px;
} 

.turns {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin: 20px 0;
}

.turn {
    font-size: 42px;
    margin: 5px;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: solid 2px #79B473;
    color: #79B473;
    border-radius: 10px;
}

#turnX {
    background-color: #7ab47383;
}

.container { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 

.row { 
	display: flex; 
} 

.cell { 
    background-color: #fbd2c9c0;
    color: #4C3957;
	border: none; 
    border-radius: 8px;
	width: 100px; 
	height: 100px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
    margin: 2px;
	font-size: 40px; 
	text-align: center; 
	cursor: pointer; 
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
} 

.cell:active { 
	outline: none; 
} 

/* button */
#btn { 
    background-color: #4C3957;
	box-sizing: border-box; 
	border: 1px solid #79B473;
    margin-top: 30px;
    padding: 5px 25px;
	border-radius: 8px; 
	color: #79B473; 
	font-size: 28px; 
	cursor: pointer; 
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
} 

#btn:hover {
    background-color: #79B473;
    color: #4C3957;
}

#print {
    position: absolute;
    font-size: 36px;
    background-color: #7ab473d5;
    color: #4C3957;
    padding: 10px;
    border-radius: 7px;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
    visibility: hidden;
}
